[tool.poetry]
name = "seqpro"
version = "0.1.0"
description = "Sequence processing toolkit"
authors = ["Adam Klie <aklie@ucsd.edu>"]

[tool.poetry.dependencies]
python = "^3.8"
numba = "^0.57.0"
numpy = "^1.23.5"
cython = "^0.29.35"
ushuffle = "^1.1.2"
matplotlib = {version = "^3.6.2", extras = ["dev"]}

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"

[tool.pyright]
include = ['seqpro', 'notebooks', 'tests']
